* {
	box-sizing: border-box;
}

body {
	font-family: 'Playfair Display', serif;
}

main {
	text-align: center;
	margin: 100px;
}

h1 {
	font-family: Josefin Sans,sans-serif;
	font-size: 80px;
	margin-top: 125px;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
}

.navbar {
	background-color: #545454f5;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 50px;
	text-align: center;
}

.nav-links {
	display: inline-block;
	text-decoration: none;
}

.adam-logo {
	width: 50px;
	height: 50px;
}

.left-nav-link, .right-nav-link {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 14px;
}

.linkedin-link {
	right: 30px;
}

.github-link {
	right: 160px;
}

.projects-link {
	left: 160px;
}

.about-me-link {
	left: 30px;
}

.title {
	font-size: 15px;
	margin-top: 0;
}

.headshot {
	border-radius: 100%;
	width: 20%;
	margin-top: 32px;
}

.skill {
	width: 15%;
}





