* {
	box-sizing: border-box;
}

body {
	font-family: 'Playfair Display', serif;
}

main {
	text-align: center;
	margin: 100px;
}

section {
	margin: 80px 0;
}

a {
	text-decoration: none;
}

h1, .thanks {
	font-family: Josefin Sans,sans-serif;
	font-size: 90px;
	margin-top: 125px;
	margin-bottom: 0;
}

h2 {
	font-family: Josefin Sans,sans-serif;
	font-size: 43px;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
}

p {
	font-size: 15px;
}

.adam-logo, 
.left-nav-link, 
.right-nav-link, 
.contact-anchor, 
.project-links {
	transition-duration: .6s;
  	transition-timing-function: ease;
}

.navbar {
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 50px;
	text-align: center;
}

.nav-links {
	display: inline-block;
}

.adam-logo {
	width: 50px;
	height: 50px;
	padding: 3px;
}

.left-nav-link, .right-nav-link {
	padding: 5px;
	color: white;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	top: 10px;
}

.linkedin-link {
	right: 30px;
}

.github-link {
	right: 160px;
}

.projects-link {
	left: 160px;
}

.resume-link {
	left: 30px;
}

.linkedin-link:hover, 
.github-link:hover, 
.projects-link:hover, 
.resume-link:hover,
.linkedin-link:active, 
.github-link:active, 
.projects-link:active, 
.resume-link:active {
	letter-spacing: 1.8px;
	background-color: white;
	color: black;
	border-radius: 3px;
}

.title {
	font-size: 15px;
	margin-top: 0;
	color: #8c8c8c;
}

.headshot {
	border-radius: 100%;
	width: 20%;
}

.contact-button {
	display: block;
    margin: 20px auto;
    background: black;
    width: 118px;
    height: 35px;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    border-radius: 5px;
}

.contact-anchor {
	color: white;
}

.contact-anchor:hover,
.contact-anchor:active {
	letter-spacing: 1.8px;
}

.about-me-section {
	margin-bottom: 50px;
}

.about-me-description {
	line-height: 2;
	width: 80%;
	margin: 0 auto;
}

.learning-link {
	color: #0370BE;
}

.skill-list-item {
	display: inline-block;
	width: 30%;
	margin: 20px 0;
}

.skill {
	height: 160px;
}

.project-box {
	margin-bottom: 100px;
}

.project-header {
	font-size: 25px;
}

.project-image {
	width: 60%;
}

.project-description {
	width: 65%;
    margin: 20px auto;
    color: #8c8c8c;
}

.project-links {
    color: black;
}

.project-links:hover,
.project-links:active {
	letter-spacing: 1.5px;
}

.thanks {
	margin-top: 50px;
}

/*Media Queries*/

@media (min-width: 1600px) {
	.headshot {
		width: 15%;
	}
	.project-image {
		width: 45%;
	}
}

@media (min-width: 2000px) {
	h2 {
		font-size: 50px;
	}

	.project-image {
		width: 35%;
	}
	.about-me-description {
		font-size: 20px;
	}
}

@media (max-width: 1150px) {
	main {
		margin: 20px;
	}
	h2 {
		font-size: 42px;
		width: 85%;
		margin: 50px auto;
	}
	.skill {
		height: 130px;
	}

	.about-me-description {
		width: 70%;
	}
}

@media (max-width: 1040px) {
	main {
		margin: 0;
	}
	h2 {
		width: 100%;
	}
	.about-me-description {
		width: 85%;
	}
}

@media (max-width: 850px) {
	h2 {
		font-size: 38px;
	}
	p {
		font-size: 14px;
	}
	.headshot {
		width: 25%;
	}
	.pic-and-content {
		margin: 60px 0;
	}
	.skill {
		height: 110px;
	}
	.project-header {
    	font-size: 18px;
	}
}

@media (max-width: 750px) {
	h2 {
		font-size: 34px;
	}
	.project-image {
		width: 80%;
	}
	.project-links {
		font-size: 14px;
	}
}

@media (max-width: 550px) {
	h1, .thanks {
		font-size: 80px;
	}
	.resume-link {
    	left: 15px;
	}
	.projects-link {
    	left: 92px;
	}
	.headshot {
		width: 40%;
	}
	.github-link {
    	right: 100px;
	}
	.linkedin-link {
    	right: 15px;
	}
}

@media (max-width: 460px) {
	h1, .thanks {
		font-size: 66px;
	}
	h2 {
		font-size: 32px;
	}
	section {
		margin: 50px 0;
	}
	p, .title {
		font-size: 13px;
	}
	.greeting {
		font-size: 26px;
	}
	.about-me-description {
		width: 90%;
	}
	.project-image {
		width: 95%;
	}
}





