* {
	box-sizing: border-box;
}

body {
	font-family: "Playfair Display", serif;
}

main {
	text-align: center;
	margin: 100px;
}

section {
	margin: 60px 0;
}

a {
	text-decoration: none;
}

h1,
.thanks {
	font-family: Josefin Sans, serif;
	font-size: 90px;
	margin-top: 150px;
	margin-bottom: 0;
}

h2 {
	font-family: Josefin Sans, sans-serif;
	font-size: 43px;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}

p {
	font-size: 18px;
}

.adam-logo,
.left-nav-link,
.right-nav-link,
.contact-anchor,
.project-links {
	transition-duration: 0.6s;
	transition-timing-function: ease;
}

.navbar {
	background-color: black;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 65px;
	text-align: center;
}

.nav-links {
	display: inline-block;
}

.adam-logo {
	width: 50px;
	height: 50px;
	margin-top: 8px;
}

.left-nav-link,
.right-nav-link {
	padding: 5px;
	color: white;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	top: 17px;
}

.linkedin-link {
	right: 30px;
}

.github-link {
	right: 160px;
}

.projects-link {
	left: 160px;
}

.resume-link {
	left: 30px;
}

.projects-link:hover {
	cursor: pointer;
}

.linkedin-link:hover,
.github-link:hover,
.projects-link:hover,
.resume-link:hover,
.linkedin-link:active,
.github-link:active,
.projects-link:active,
.resume-link:active {
	letter-spacing: 1.8px;
	background-color: white;
	color: black;
	border-radius: 3px;
}

.mobile-pic-and-contact {
	display: none;
}

.headshot {
	border-radius: 100%;
	width: 15%;
}

.contact-button {
	display: block;
	margin: 20px auto;
	background: black;
	width: 120px;
	height: 35px;
	font-size: 15px;
	font-family: "Playfair Display", serif;
	border-radius: 5px;
}

.contact-anchor {
	color: white;
}

.contact-anchor:hover,
.contact-anchor:active {
	letter-spacing: 1.8px;
}

.about-me-section {
	margin-bottom: 50px;
}

.about-me-description {
	line-height: 2;
	width: 80%;
	margin: 0 auto;
	text-align: left;
}

.learning-link {
	color: #0370be;
}

.skill-list-item {
	display: inline-block;
	width: 30%;
	margin: 20px 0;
}

.skill {
	height: 160px;
}

.project-box {
	margin-bottom: 100px;
}

.project-header {
	font-size: 25px;
}

.project-image {
	width: 60%;
	box-shadow: 1px 1px 3px 0.1px #d6d6d6;
}

.project-description {
	width: 65%;
	margin: 20px auto;
	color: #8c8c8c;
}

.project-links {
	color: black;
}

.project-links:hover,
.project-links:active {
	letter-spacing: 1.5px;
}

.thanks {
	margin-top: 50px;
}

/*Media Queries*/

@media (min-width: 1600px) {
	.headshot {
		width: 9%;
	}
	.project-image {
		width: 45%;
	}
}

@media (min-width: 2000px) {
	h2 {
		font-size: 50px;
	}

	.project-image {
		width: 35%;
	}
	.about-me-description {
		font-size: 20px;
	}
}

@media (max-width: 1150px) {
	main {
		margin: 20px;
	}
	h2 {
		font-size: 42px;
		width: 85%;
		margin: 50px auto;
	}
	.skill {
		height: 130px;
	}

	.about-me-description {
		width: 70%;
	}
}

@media (max-width: 1040px) {
	main {
		margin: 0;
	}
	h2 {
		width: 100%;
	}
	.about-me-description {
		width: 85%;
	}
}

@media (max-width: 850px) {
	h2 {
		font-size: 38px;
	}
	p {
		font-size: 14px;
	}
	.headshot {
		width: 25%;
	}
	.pic-and-content {
		margin: 60px 0;
	}
	.skill {
		height: 110px;
	}
	.project-header {
		font-size: 18px;
	}
}

@media (max-width: 750px) {
	h2 {
		font-size: 34px;
	}
	.project-image {
		width: 80%;
	}
	.project-links {
		font-size: 13px;
	}
}

@media (max-width: 550px) {
	h1,
	.thanks {
		font-size: 80px;
	}
	.navbar {
		height: 60px;
	}
	.left-nav-link,
	.right-nav-link {
		font-size: 10px;
		font-weight: bold;
	}
	.resume-link {
		left: 5px;
	}
	.projects-link {
		left: 70px;
	}
	.headshot {
		width: 42%;
	}
	.github-link {
		right: 75px;
	}
	.linkedin-link {
		right: 5px;
	}
	.adam-logo {
		width: 30px;
		height: 30px;
		margin-top: 16px;
	}
}

@media only screen and (max-width: 460px) {
	h1,
	.thanks {
		margin-top: 100px;
		font-size: 48px;
	}
	.mobile-pic-and-contact {
		display: initial;
	}
	h2 {
		font-size: 28px;
		margin: 45px auto;
	}
	p {
		font-size: 13px;
	}
	.greeting {
		text-align: left;
		width: 90%;
		font-size: 23px;
	}
	.about-me-description {
		width: 90%;
	}
	.desktop-pic-and-contact {
		display: none;
	}
	.contact-button {
		width: 105px;
		height: 30px;
		font-size: 13px;
		font-weight: bold;
	}
	.skill {
		height: 70px;
	}
	.project-image {
		width: 90%;
	}
	.project-description {
		width: 90%;
		text-align: left;
	}
	.linkedin-link:hover,
	.github-link:hover,
	.projects-link:hover,
	.resume-link:hover,
	.contact-anchor:hover,
	.contact-anchor:active,
	.linkedin-link:active,
	.github-link:active,
	.projects-link:active,
	.resume-link:active {
		letter-spacing: 0;
		background-color: black;
		color: white;
	}
	.project-links:hover,
	.project-links:active {
		letter-spacing: 0;
	}
}